In [1]:
import sys
import os
import pandas as pd

# Add the absolute path to the scripts folder
scripts_path = os.path.abspath("../scripts")
sys.path.append(scripts_path)

# Now import directly from the file
from data_prep import (
    clean_column_names,
    encode_target,
    split_features,
    create_actionable_df,
    remove_duplicates,
)

ImportError: cannot import name 'remove_duplicates' from 'data_prep' (c:\Users\DELL\OneDrive\Data Science\Bank_Telemarketing_Prediction_EDSB25_1\scripts\data_prep.py)

In [20]:
df = pd.read_csv(r'C:\Users\DELL\OneDrive\Data Science\Bank_Telemarketing_Prediction_EDSB25_1\data\raw\bank-additional-full.csv', sep=';')
print(df.columns.tolist())

['age', 'job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays', 'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed', 'y']

In [21]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,...,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,...,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,...,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [15]:
# Load raw data
df = pd.read_csv(
    r'C:\Users\DELL\OneDrive\Data Science\Bank_Telemarketing_Prediction_EDSB25_1\data\raw\bank-additional-full.csv',
    sep=';'
)
# Preprocessing
df = clean_column_names(df)
df = encode_target(df, target_col="y")

# Split features
X_act, X_bmk, y = split_features(df)

# Create actionable dataframe
df_act = create_actionable_df(X_act, y)

# Check results
print(df_act.shape)
df_act.head()

(39404, 20)

,job,marital,education,default,housing,loan,contact,month,day_of_week,poutcome,age,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,y
0,housemaid,married,basic.4y,no,no,no,telephone,may,mon,nonexistent,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
1,services,married,high.school,unknown,no,no,telephone,may,mon,nonexistent,57,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
2,services,married,high.school,no,yes,no,telephone,may,mon,nonexistent,37,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
3,admin.,married,basic.6y,no,no,no,telephone,may,mon,nonexistent,40,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0
4,services,married,high.school,no,no,yes,telephone,may,mon,nonexistent,56,1,999,0,1.1,93.994,-36.4,4.857,5191.0,0

In [7]:
import data_prep as dp
print(dir(dp))

['__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'clean_column_names', 'create_actionable_df', 'encode_target', 'pd', 'split_features']

In [8]:
remove_duplicates(df_act)

NameError: name 'remove_duplicates' is not defined